.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img {
    border: 5px solid #555;
  }
  ol {
    display: inline-block;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  div.container {
    text-align: center;
  }
  
  ul {
    display: inline-block;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .button {
    border: black;
    color: pink;
    padding: 15px 32px;
    text-align: center;
    text-decoration-color: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }